#nav-berita section {
  display: flex;
  width: 500px;
  margin: 0 auto;
  flex-direction: column;
}
#nav-berita section hr {
  border-top: 3px dashed #033357;
  margin: 1rem 0;
}
#nav-berita section article a {
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0 1rem 0;
}
#nav-berita section article img {
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 650px) {
  #nav-berita section {
    width: 300px;
  }
  #nav-berita table tr td img {
    display: none;
  }
}