#nav-profil {
  margin: 0 0 4rem 0;
}
#nav-profil section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
#nav-profil section article {
  width: 500px;
  text-align: justify;
}
#nav-profil section img {
  width: 300px;
	margin: 0 1rem;
	object-fit: cover;
	border-radius: 1rem;
}
#nav-profil .teks {
  max-width: 800px;
  text-align: justify;
  margin: 0 auto;
  padding: 1rem;
}
#nav-profil ol li {
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
}